---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Auxiliar Manipuladora del Cartón'>
	<div class='dil text-[var(--auxiliar1)] text-3xl'>
		Auxiliar Manipuladora del Cartón
	</div>
</Layout>

<style>
	.dil {
		border: 1px solid red;
	}
</style>
