---
import SliderToggleTheme from '../SliderToggleTheme.astro'
import Navbar from './Navbar.astro'
const nav = ['Inicio', 'Quiénes somos', 'Contacto', 'Catálogo']
const link = ['/', '/#nave', '/#contacto', '/catalogo']
---

<header>
	<div class='container'>
		<div class='opciones-de-menu'>
			<Navbar
				nav={nav}
				link={link}
			/>
		</div>
		<SliderToggleTheme />
	</div>
</header>

<style>
	.container {
		display: flex;
		flex: row;
		justify-content: center;
		border: 1px solid violet;
		min-width: 100%;
	}
	.opciones-de-menu {
		background-color: brown;
		display: flex;
		flex: 1;
		justify-content: center;
	}
</style>
