---

---

<main class='main'>Auxiliar Manipuladora del Cartón</main>

<style>
	.main {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		border: 1px solid red;
		font-family: var(--tipo-1);
		color: var(--auxiliar1);
		font-size: 2rem;
		@media screen and (max-width: 768px) {
			font-size: 1rem;
		}
	}
</style>
