---
interface Props {
	title?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='Auxiliar Manipuladora del Cartón'
			content='Pagina sobre la fabrica y la historia de la empresa Auxiliar Manipuladora del Cartón'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.auxi.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body class='min-w-full min-h-screen border-2 border-red-400'>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		@font-face {
			font-family: 'ITC Eras Demi';
			src: url('/tipos/ITC Eras Demi.ttf');
		}
		--auxiliar1: rgb(223, 172, 18);
		--auxiliar2: rgb(0, 129, 74);
		--marcado: rgb(rgb(0, 204, 255));

		--tipo-1: 'ITC Eras', sans-serif;
	}
	.tipo1 {
		font-family: 'ITC Eras';
	}
	html {
		background-color: #202020;
		color: #f2f2f2;
	}
	html.light {
		background-color: #202020;
		color: #202020;
	}

	.dil-barra-desplazamiento {
		/* Estilos de la barra de desplazamiento */
		scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
		scrollbar-color: #a92020 #0feb03; /* Color de la barra y el fondo de la barra */
	}
	/* Estilos para la barra de desplazamiento */
	.dil-barra-desplazamiento::-webkit-scrollbar {
		width: 12px; /* Ancho de la barra de desplazamiento */
	}
	.dil-barra-desplazamiento::-webkit-scrollbar-thumb {
		background-color: var(
			--auxiliar1
		); /* Color de la barra de desplazamiento */
	}
	.dil-barra-desplazamiento::-webkit-scrollbar-track {
		background-color: black;
	}
	.light .dil-barra-desplazamiento::-webkit-scrollbar-thumb {
		background-color: var(
			--auxiliar2
		); /* Color de la barra de desplazamiento */
	}

	.light .dil-barra-desplazamiento::-webkit-scrollbar-track {
		background-color: white;
	}
</style>
