---
import FooterMenu from '@/components/FooterMenu.astro'
import AsideMenu from '@/components/AsideMenu.astro'
import Main from '@/components/Main.astro'
import Header from '@/components/header/Header.astro'
import logo from '@/components/icons/favicon.auxi.svg'
interface Props {
	title?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='Auxiliar Manipuladora del Cartón'
			content='Pagina sobre la fabrica y la historia de la empresa Auxiliar Manipuladora del Cartón'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.auxi.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body class='min-w-full min-h-screen'>
		<div id='app'>
			<aside
				class='asideMenu ml-2 bg-zinc-800 h-full rounded-lg mt-2 [grid-area:aside] flex-col flex overflow-y-auto'
			>
				<AsideMenu />
				<div class='miClase border-miBorde'>PRUEBA</div>
			</aside>

			<!-- MAIN ================================================ -->
			<main
				class='mainMenu ml-2 mt-2 [grid-area:main] overflow-y-auto w-full bg-zinc-900 p-2 mr-8 min-h-full flex h-screen justify-center rounded-lg'
			>
				<slot />
			</main>
			<!-- ======================================================== -->

			<footer
				class='m-2 mr-4 w-full rounded-lg footerMenu bg-zinc-700 [grid-area:player] h-[80px]'
			>
				<FooterMenu />
			</footer>
		</div>
		<style>
			#app {
				display: grid;
				grid-template-areas:
					'aside main main'
					'player player player';
				grid-template-columns: 350px 1fr;
				grid-template-rows: 1fr auto;
			}
		</style>
		<style is:global>
			:root {
				--auxiliar1: rgb(223, 172, 18);
				--auxiliar2: rgb(0, 129, 74);
				--marcado: rgb(rgb(0, 204, 255));
			}
			html {
				background-color: #000000;
				color: #f2f2f2;
				font-family: 'CircularStd', system-ui, sans-serif;
			}
			html.light {
				background-color: #ffffff;
				color: #202020;
			}
			.light .asideMenu {
				background-color: #b9b9b9;
				color: #202020;
			}
			.light .mainMenu {
				background-color: #ededed;
				color: #202020;
			}
			.light .footerMenu {
				background-color: #8f8f8f;
				color: #202020;
			}
			.light .headerMenu {
				background-color: #ffffff;
				color: #202020;
			}

			@font-face {
				font-family: 'ITC';
				src: url('/tipos/ITC Eras Demi.ttf');
			}
			@font-face {
				font-family: 'CircularStd-bold';
				src: url('/tipos/CircularStd-Medium.woff2') format('woff2');
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'CircularStd';
				src: url('/tipos/CircularStd-Book.woff2') format('woff2');
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'CircularStd';
				src: url('/tipos/CircularStd-Light.woff2') format('woff2');
				font-weight: 300;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'CircularStd';
				src: url('/tipos/CircularStd-Bold.woff2') format('woff2');
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'CircularStd';
				src: url('/tipos/CircularStd-Black.woff2') format('woff2');
				font-weight: 900;
				font-style: normal;
				font-display: swap;
			}

			.dil-barra-desplazamiento {
				/* Estilos de la barra de desplazamiento */
				scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
				scrollbar-color: #a92020 #0feb03; /* Color de la barra y el fondo de la barra */
			}
			/* Estilos para la barra de desplazamiento */
			.dil-barra-desplazamiento::-webkit-scrollbar {
				width: 12px; /* Ancho de la barra de desplazamiento */
			}
			.dil-barra-desplazamiento::-webkit-scrollbar-thumb {
				background-color: var(
					--auxiliar1
				); /* Color de la barra de desplazamiento */
			}
			.dil-barra-desplazamiento::-webkit-scrollbar-track {
				background-color: black;
			}
			.light .dil-barra-desplazamiento::-webkit-scrollbar-thumb {
				background-color: var(
					--auxiliar2
				); /* Color de la barra de desplazamiento */
			}

			.light .dil-barra-desplazamiento::-webkit-scrollbar-track {
				background-color: white;
			}
		</style>
	</body>
</html>
